# mac
.DS_Store

# other?
.history
.scala_dependencies
.cache-main

#general
*.class
# intellij idea
*.log
*.iml
*.ipr
*.iws
.idea
# bloop and metals
.bloop
.bsp
# sbt
project/project/
project/target/
target/
/null/
